

{
      "$schema": "https://json.schemastore.org/swcrc",

  "jsc": {
    "parser": {
      "syntax": "typescript",
              "decorators": true,
              "importAssertions": true,
              "dynamicImport": true
              

    },
    "minify": {
      "compress": true 
    },
    "target": "es2020",
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "optimizer": {
        
      }
      
    }
    
  },
  "minify": true,
  "module": {
    "type": "commonjs",
    "strict": true
 
  },

}
